<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gift Finder App</title>
</head>
<body>
    <h1>Gift Finder App</h1>
    <p>Welcome to our microservices-based Gift Finder App!</p>

    <h2>Microservices:</h2>
    <ul>
        <li><a href="/store">Store/Inventory Service</a></li>
        <li><a href="/order">Order Processing Service</a></li>
        <li><a href="/user">User Service</a></li>
        <li><a href="/vendor">Vendor Service</a></li>
    </ul>
</body>
</html>
